!!!5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %title Projects and Demos
    %meta{ name: "viewport", content: "width=device-width, minimum-scale=1.0" }
    %link{ href: "stylesheets/bootstrap.min.css", rel: 'stylesheet' }
    %link{ href: "stylesheets/bootstrap-responsive.min.css", rel: 'stylesheet' }
    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" }
    %script{ src: "/javascripts/bootstrap.min.js" }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11105955-2']);
      _gaq.push(['_setDomainName', 'agmprojects.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      $(document).ready(function() {
        $('.project-link').on('click', function() {
          _gaq.push(['_trackEvent', 'project', $(this).attr('href')]);
        });
      });
  %body
    .container= yield