%h1 Projects

- projects = Project.all

.row
  - projects.each do |project|
    .span4
      %h2
        %a.project-link{ href: project.url }= project.name
      - if project.description?
        %p
          = project.description
          - if project.instructions?
            %pre= project.instructions