%h1 Projects

%p
  %a{ href: 'http://agmprojects.com' } Blog

- projects = Project.all

.row
- projects.each_slice(3) do |projects_slice|
  .row
    - projects_slice.each_with_index do |project, i|
      .project.span4
        - if project.image?
          %a{ href: project.full_page? ? project.slug : project.url, class: project.download? ? 'project-link' : '' }
            %img{ src: "images/#{project.image}", alt: project.name }
        %h2
          %a{ href: project.full_page? ? project.slug : project.url, class: project.download? ? 'project-link' : '' }= project.name
        - if project.description?
          %p
            = project.description
            - if project.instructions?
              %pre= project.instructions